@import '../scss/bootstrap';

$main-color: #278ccf;
$primary-color:#9A0680;
$secondary-color: #4163b1;
$content-color: #876445;
$btn-border1: #C26DBC;
$btn-border2: #EEB5EB;

::selection{
    background-color: $primary-color;
    color: #fff;
}

$regular: '400';
$semibold: '600';
$bold: '700';

$primary-font: 'Open Sans', sans-serif;
$secondary-font:'Caveat', cursive;

@mixin breakpoint-up($arg) {
    @media screen and (min-width: ($arg)) {
        @content;
    }
}

@mixin primaryBtn {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    border: 1px solid #fff;
    margin: 0px;
    background: transparent;
    background: rgb(65,99,177);
    background: linear-gradient(149deg, rgba(65,99,177,1) 26%, rgba(60,172,174,1) 86%);
    font-weight: 400;
    position: relative;
    z-index: 1;
    &:hover{
        background-color: #56b6c6;
    }
    &:before{
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: -2;
        background: rgb(36,64,128);
        background: linear-gradient(212deg, rgba(36,64,128,1) 26%, rgba(86,182,198,1) 87%);
        transition: all 0.4s;
    }
    &:after{
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 0%;
        z-index: -2;
        color: #000;
        background: rgb(65,99,177);
        background: linear-gradient(331deg, rgba(65,99,177,1) 26%, rgba(86,182,198,1) 87%);
        transition: all 0.4s;
        }
        &:hover:after,:active:after{
           height: 100%;
           
        }
    
}
@mixin secondary {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    border: 1px solid #fff;
    margin: 0px;
    background: transparent;
    background: rgb(65,99,177);
    background: linear-gradient(331deg, rgba(65,99,177,1) 26%, rgba(86,182,198,1) 87%);
    font-weight: 400;
    position: relative;
    z-index: 1;
    &:before{
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: -2;
        background: #0f37a9;
        background-image: linear-gradient(0deg, #43458f, #010a14);
        transition: all 0.4s;
    }
    &:after{
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 0%;
        z-index: -2;
        background: $main-color;
        color: #000;
        background-image: linear-gradient(0deg, #5c5f9c, #090c4b);
        transition: all 0.4s;
        }
        &:hover:after,:active:after{
           height: 100%;
           
        }
    
}


body {
    margin: 0;
    background-color: #fff;
    color: #000!important;
    font-size: 17px;
    line-height: 1.5;
    text-transform: initial;
    font-family: $primary-font;
    font-weight: $regular;
    @include breakpoint-up(992px) {
        font-size: 18px;
    }
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
    &:hover,
    &:active {
        color: $content-color;
    }
}

strong,span,b,.b {
    font-weight: 700;
    color: $primary-color;
}

a,.a,.btn,button,input[type="submit"] {
    transition: 0.4s all ease;
    color: #000;
}

p,
ol,
address,
ul {
    padding: unset;
    margin: unset;
    &:not(:last-child) {
        margin-bottom: 7px;
        @include breakpoint-up(576px) {
            margin-bottom: 15px;
        }
    }
}

li {
    padding: unset;
    margin: unset;
    display: inline-block;
    &:not(:last-child) {
        margin-bottom: 6px;
        margin-right: 16px;
    }
}

h1,
.h1 {
    font-size: 30px;
    @include breakpoint-up(992px) {
        font-size: 32px;
    }
}

h2,
.h2 {
    font-size: 27px;
    @include breakpoint-up(992px) {
        font-size: 30px;
    }
}

h3,
.h3 {
    font-size: 26px;
    @include breakpoint-up(992px) {
        font-size: 28px;
    }
}

h4,
.h4 {
    font-size: 24px;
    @include breakpoint-up(992px) {
        font-size: 26px;
    }
}

h5,
.h5 {
    font-size: 22px;
    @include breakpoint-up(992px) {
        font-size: 24px;
    }
}

h6,
.h6 {
    font-size: 20px;
    @include breakpoint-up(992px) {
        font-size: 22px;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $primary-font;
    font-weight: $semibold;
    margin-bottom: 12px;
    margin-top: 20px;
}

table {
    @extend .table,
    .table-bordered,
    .table-responsive;
    @include breakpoint-up(992px){
        display: inline-table;
    }

    th {
        background-color: $content-color;
        color: #fff;
        font-weight: 700;
        @include breakpoint-up(1900px) {
            font-size: 22px;
        }
    }
    td {
        @include breakpoint-up(1900px) {
            font-size: 22px;
        }
    }
}

input {
    &[type="text"],
    &[type="name"],
    &[type="search"],
    &[type="number"],
    &[type="email"],
    &[type="date"],
    &[type="password"],
    select {
        width: 100%;
        height: 31px;
        border: 1px solid $content-color;
        padding: 4px 10px;
        margin-bottom: 9px;
        outline: none;
        font-size: 14px;
        &:hover {
            border: 2px solid #4CC9F3;
        }
        @include breakpoint-up(576px) {
            height: 30px;
        }
        @include breakpoint-up(768px) {
            height: 35px;
        }
        @include breakpoint-up(992px) {
            height: 40px;
        }
        @include breakpoint-up(1900px) {
            margin-bottom: 20px;
            height: 43px;
        }
    }
    &[type="checkbox"],
    &[type="radio"] {
        display: inline-block;
    }
}
label {
    padding: 0px 8px;
    @include breakpoint-up(1900px) {
        font-size: 22px;
    }
}

textarea {
    width: 100%;
    min-height: 75px;
    max-height: 75px;
    outline: none;
    padding: 0px 10px;
    &:hover {
        border: 2px solid #4CC9F3;
    }
    @include breakpoint-up(576px) {
        min-height: 90px;
        max-height: 90px;
    }
    @include breakpoint-up(768px) {
        min-height: 120px;
        max-height: 120px;
    }
    @include breakpoint-up(992px) {
        min-height: 150px;
        max-height: 150px;
    }
    @include breakpoint-up(1300px) {
        min-height: 175px;
        max-height: 175px;
    }
}

select {
    width: 100%;
    border: 1px solid $primary-color;
    height: 25px;
    margin-bottom: 5px;
    @include breakpoint-up(576px) {
        height: 30px;
    }
    @include breakpoint-up(768px) {
        height: 35px;
    }
    @include breakpoint-up(992px) {
        height: 40px;
    }
    @include breakpoint-up(1900px) {
        margin-bottom: 20px;
        height: 43px;
    }
}

.videoRs {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-top: 15px;
    margin-bottom: 16px;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

figcaption {
    display: inline-block;
    font-size: 12px;
}

// --========================--TYPOGRAPHI END--=====================--

@include breakpoint-up(1300px){
    .container{
        max-width: 1300px;
        margin: 0 auto;
    }
}


.scrol_btn{
    font-size: 30px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 999;
    color: #fff;
    cursor: pointer;
    display: none;
    background: $secondary-color;
    border-radius: 50px;
    width: 39px;
    height: 40px;
    text-align: center;
    line-height: 1.1;
    border: 3px solid $primary-color;
    &:hover{
        color: $primary-color;
    
    }
    @include breakpoint-up(992px){
        font-size: 31px;
    }
}

// --=================--SCROOL BTN END--==================--

.social{
    position: fixed;
    top: 30%;
    z-index: 999;
    left: -6;
    ul{
        padding: unset;
        transform: translate(-145px,0);
        li{
            display: block;
            background: rgb(65,99,177);
            background: linear-gradient(149deg, rgba(65,99,177,1) 26%, rgba(60,172,174,1) 86%);
            margin: 4px;
            width: 129px;
            text-align: right;
            padding: 4px;
            border-radius: 0 30px 30px 0;
            transition: all 1s;
            transform: translate(53px,0);
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            font-family: $primary-font;
            font-weight: $regular;
            &:hover{
                transform: translate(141px,0);
                background: $primary-color;
                color: #fff;
                font-size: 16px;
                i{                              
                color:$main-color;            
                }
                
            }
            
        }
    }
}

.social ul{
    a{
        i{
            margin-left: 5px;
            padding: 8px;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            font-size: 18px;
            background: #fff;
            transform: rotate(0deg);
            text-align: center; 
            color: $primary-color;       
        }
    }
}

.social ul a li{
    &:hover i{
        transform: rotate(360deg);
        transition: all 1s;
    }
    i.fa-facebook-f{
        color: $secondary-color;
    }
    i.fa-linkedin-in{
        color: #000;
    }
    i.fa-twitter{
        color: #47bef9;
    }
    i.fa-instagram{
        color: #D73184;
    }

} 


// --===================--SOCIAL ICON BODY--=================--
.slider_bgimg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &::before{
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.49);
    }
    
}

.menuSec.sticky{
    background-color: $primary-color;
    transition: all 0.4s ease;
    z-index: 99999;
    box-shadow: 0px 1px 6px 0px #3e3b3b;
    
    
    .logo_align{
         a{         
            font-family: $primary-font;
            font-weight: $semibold;          
            span{
                color: #000;
            }
        }
    }

}


.menuSec {
    padding: 16px 0;
    position: fixed;
    width: 100%;            
    z-index: 999;
    @include breakpoint-up(992px){
        padding: unset;
        // background-color: rebeccapurple;
    }
    .logo_align{
        display: flex;
        align-items: center;
        .logo{
            &:hover{
                letter-spacing: 2.5px;
            }
            a {
                text-decoration: none;
                font-family: $primary-font;
                font-weight: $semibold;
                font-size: 35px;
                color: #fff;
                span{
                    color: #eeaeca;
                  
                }    
                @include breakpoint-up(1400px){
                    font-size: 55px;

                }            
            }
        }
    }    
}

.menubar_align{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 44px;
    position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	padding: 0 50px;
    z-index: 999;
    a{
        display: block;
        width: 52px;
        height: 39px;
        padding: 11px;
        margin: 2px;
        position: absolute;
        top: 0;
        span {
            background: #fff;
            display: block;
            height: 3px;
            margin: 6px 0;
            @include breakpoint-up(576px) {
                height: 3px;
            }

        }

    }
}
.header .fixed{
	position: fixed;
	top: 0;
	left: 0;
    
}

.header a:before,
.header a:after {
	content: '';
	display: block;
	background: #fff;
	height: 3px;
    @include breakpoint-up(576px){
        height: 3px;
    }
}

#page{
    @include breakpoint-up(992px){
        display: none;
    }
}
.desktop_MenuBlock{
    display: none;
    @include breakpoint-up(992px){
        display: block;
    }
}
.desktop_menu{
    ul{
        padding: unset;
        margin: unset;
        display: flex;
        flex-wrap: wrap;
        .licontact{
            display: none;
        }
        li{
            list-style: none;
            font-family: $primary-font;
            font-weight: $semibold;
            
            @include breakpoint-up(992px){
                padding: 25px 0px;
                &:not(:last-child){
                    margin-right: 40px;
                    margin-bottom: unset;
                }
                
            }
            @include breakpoint-up(1400px){
                padding: 36px 0px;

            }
            
            a{
                color: #fff;
                transition: color .2s ease;
                padding: 0px 2px;
                font-size: 18px;
                letter-spacing: 1.5px;
                position: relative;
                display: inline-block;    
                text-decoration: none; 
                @include breakpoint-up(992px){
                    font-size: 15px;
                }       
                &:hover:after{
                    width: 100%;
                    left: 0;
                }
                &:hover::before{
                    width: 100%;
                    left: 0;
                }
                &::after{
                    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
                    background: #2FFFAD;
                    content: '';
                    position: absolute;
                    top: calc(100% + 5px);
                    width: 0;
                    right: 0;
                    height: 3px;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;     
                }
                &::before{
                    transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
                    background: $primary-color;
                    content: '';
                    position: absolute;
                    top: calc(100% + 5px);
                    width: 0;
                    right: 0;
                    height: 3px;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;    
                }
              }
        }
    }
}

.contact_align{
    @include breakpoint-up(992px){
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .contact_btn{
        display: none;
        @include breakpoint-up(992px){
            display: block;
        }
        ul{
            padding: unset;
            margin: unset;
            li{
                list-style: none;
                a{
                    color: #fff;
                    transition: color .2s ease;                   
                    width: 100px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 4px ;
                    font-size: 18px;
                    letter-spacing: 1.5px;
                    position: relative;
                    display: inline-block;    
                    text-decoration: none; 
                    background: rgb(65,99,177);
                    background: linear-gradient(331deg, rgba(65,99,177,1) 26%, rgba(86,182,198,1) 87%);
                    font-family: $primary-font;
                    font-weight: $semibold;
                    &:hover{
                        background: rgb(36,64,128);
                        background: linear-gradient(326deg, rgba(36,64,128,1) 26%, rgba(86,182,198,1) 87%);
                    }
                    @include breakpoint-up(992px){
                        font-size: 15px;
                    }       
                    &:hover:after{
                        width: 100%;
                        left: 0;
                    }
                    &:hover::before{
                        width: 100%;
                        left: 0;
                    }
                    &::after{
                        transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
                        background: #2FFFAD;
                        content: '';
                        position: absolute;
                        top: calc(100% + 5px);
                        width: 0;
                        right: 0;
                        height: 3px;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        border: 0;
                        font-size: 100%;
                        font: inherit;
                        vertical-align: baseline;
                    }
                    &::before{
                        transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
                        background: $primary-color;
                        content: '';
                        position: absolute;
                        top: calc(100% + 5px);
                        width: 0;
                        right: 0;
                        height: 3px;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        border: 0;
                        font-size: 100%;
                        font: inherit;
                        vertical-align: baseline;   
                    }                 
                                                
                }
            }
        }
    }
}

.bannar{
    display: flex;
    align-items: end;
    justify-content: right;
    .my_img{
        padding: 45px 0px;
        color: #fff;
        position: relative;
        z-index: 999;
    }    
}


.slider_Sec{
    position: relative;
    padding-top: 65px;
    .slidMy_img{
        position: absolute;
        width: 100%;
        right: 0px;
        bottom: -344px;
        @include breakpoint-up(576px){
            bottom: -301px;
        }
        @include breakpoint-up(768px){
            bottom: -301px;
        }
        @include breakpoint-up(992px){
            bottom: -341px;
          
        }
        
        .slidimg_inner{
            img{
                position: relative;
                width: 170px;
                z-index: 9;
                @include breakpoint-up(576px){
                    width: 158px;
                }
                @include breakpoint-up(768px){
                    width: 155px;
                }
                @include breakpoint-up(992px){
                    width: 171px;
                }

            }
        }
    }
    
    .slider_text{
        padding: 45px 0px;
        color: #fff;
        position: relative;
        z-index: 999;
        h5{
            font-family: $primary-font;
            font-weight: $semibold;
            font-size: 22px;
            margin-bottom: 0px;
            @include breakpoint-up(992px){
                font-size: 33px;
            }
            
        }
        h3{
            font-family: $primary-font;
            font-weight: $semibold;
            font-size: 39px;
            margin-top: 3px;
       
            @include breakpoint-up(768px){
                font-size: 40px;
            }
            @include breakpoint-up(992px){
                font-size: 49px;
            }

        }
        h4{
            font-family: $primary-font;
            font-weight: $semibold;
            font-size: 23px;
            margin-top: 3px;
            span{
                font-family: $primary-font;
                font-weight: $semibold;
                color: #f5f508;

            }
            @include breakpoint-up(576px){
                font-size: 28px;
            }
            @include breakpoint-up(992px){
                font-size: 36px;
            }

        }
        .hireme{          
            a{
                @include primaryBtn();
                text-decoration: none;
                display: inline-block;
                margin-top: 23px;
                color: #fff;
                padding: 7px 13px;
                font-size: 13px;
                border: unset;
                &:hover{
                    color: #fff;
                    transition: 0.5s all;
                    
                }
                @include breakpoint-up(992px){
                    padding: 8px 18px;
                    font-size: 16px;
                }
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: inherit;
                    border-radius: inherit;
                    transition: opacity .3s, transform .3s;
                    animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
                    z-index: -1;
                }
        
            }
        }
    }
}


@keyframes pulse-animation {
    0% {
      opacity: 1;
      transform: scale(1);
      transition: 0.3s all;
    }
    50% {
      opacity: 0;
      transform: scale(1.5);
      transition: 0.3s all;

    }
    100% {
      opacity: 0;
      transform: scale(1.5);
      transition: 0.3s all;

    }
  }


  .modal-dialog{
    margin-top: 30px;
}
.modal-content{
    background-color: $secondary-color;
    
}
.modal{
    z-index: 999;
}

//   .hireme{
//     button{
//         @include primaryBtn();
//         text-decoration: none;
//         display: inline-block;
//         margin-top: 6px;
//         color: #fff;
//         padding: 7px 13px;
//         font-size: 13px;
//         border: unset;
//         &:hover{
//             background-color: unset;
//             color: #fff;
//             transition: 0.5s all;
            
//         }
//         @include breakpoint-up(576px){
//             padding: 3px 10px;
//             font-size: 12px;
//         }
//         @include breakpoint-up(768px){
//             padding: 4px 17px;
//             font-size: 15px;
//         }

//         @include breakpoint-up(992px){
//             padding: 8px 18px;
//             margin-top: unset;
//             font-size: 16px;
//         }
//     }
//     .modal-dialog{
//         margin-top: 30px;
//     }
//     .modal-content{
//         background-color: $secondary-color;
        
//     }

// }

// .hireme {
//     .slider_submit button{
//         @include primaryBtn();
//         input{
//             background: unset;            
//             border: unset;
//             padding: 5px 13px;
//             color: #fff;
            
//         }
        
//     }
// }

// =========================--  SLIDE_SECTION END--======================


.about_Sec{
    padding: 40px 0px 20px 0;
    @include breakpoint-up(992px){
        padding-bottom: 40px;
    }
}
.about{
    &:after{
        content: '';
        display: block;
        width: 131px;
        height: 2px;
        background: #464646;
        position: relative;
        top: -2px;
        left: 50%;
        transform: translate(-50%);
        margin: 7px 0;
        @include breakpoint-up(958px){
            width: 199px;
            top: -1px;
        }
        @include breakpoint-up(975px){
            top: -1px;
        }
        @include breakpoint-up(992px){
            top: -18px;
            
        }
    }
    h4{
         
        &:before{
            content: '';
            display: block;
            width: 26px;
            height: 3px;
            background: #fdce16;
            position: relative;
            top: 48px;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;     
            @include breakpoint-up(992px){
                top: 79px;
            }
        }
        &:after{
            content: '';
            display: block;
            width: 70px;
            height: 3px;
            background-color: $main-color;
            position: relative;
            top: 9px;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
            @include breakpoint-up(992px){
                top: 10px;
            }
        }
        color: $primary-color;
        margin-bottom: 5px;
        margin-top: 39px;
        @include breakpoint-up(992px){
            margin-bottom: 24px;
            font-size: 42px;
        }

     span{
         color: red;
         font-size: 30px;
         @include breakpoint-up(992px){
            font-size: 55px;
        }
     }
       

    }
}

.about_img{
    width: 200px;        
    margin: 0 auto;                
    box-shadow: -8px 3px 13px -1px #9d9e99;
            
    @include breakpoint-up(992px){
        width: 230px;
        margin-bottom: 20px;
    }
    @include breakpoint-up(1350px){
        width: 284px;
    }
    img{
        object-fit: cover;
        @include breakpoint-up(992px){
            height: 320px;
        }
        @include breakpoint-up(1350px){
            height: 375px;
        }
    }

    
}
.abouttext_align{
    @include breakpoint-up(992px){
        display: flex;
        align-items: center;
    }
    
    .about_text{
        @include breakpoint-up(768px){
            padding-top: 25px;
        }
        h6{
            color: $primary-color;
            margin-bottom: 4px;
            @include breakpoint-up(992px){
                font-size: 31px;
                margin-bottom: 11px;
                font-size: 22px;
                
            }
            @include breakpoint-up(1200px){
                font-size: 31px;
                margin-bottom: 11px;
                
            }
        }
        p{
            color: #000;
    
        }
    }
}
// =====================--ABOUT ME END--====================

.service{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &::before{
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.49);
    }
    .service_head{
        &:after{
            content: '';
            display: block;
            width: 131px;
            height: 2px;
            background: #fff;
            position: relative;
            top: -2px;
            left: 50%;
            transform: translate(-50%);
            margin: 7px 0;
            @include breakpoint-up(958px){
                width: 199px;
                top: -1px;
            }
            @include breakpoint-up(975px){
                top: -1px;
            }
            @include breakpoint-up(992px){
                top: -18px;
                
            }
        }
        h4{
            z-index: 999;     
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 26px;
                height: 3px;
                background: #fdce16;
                position: relative;
                top: 48px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;     
                @include breakpoint-up(992px){
                    top: 79px;
                }
            }
            &:after{
                content: '';
                display: block;
                width: 70px;
                height: 3px;
                background-color: $main-color;
                position: relative;
                top: 9px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 99;
                @include breakpoint-up(992px){
                    top: 10px;
                }
            }
            color: #fff;
            margin-bottom: 5px;
            margin-top: 39px;
            @include breakpoint-up(992px){
                margin-bottom: 24px;
                font-size: 42px;
            }
    
         span{
             color: red;
             font-size: 30px;
             @include breakpoint-up(992px){
                font-size: 55px;
            }
         }
           
    
        }
    }
}


.seervices_Slick{
    position: relative;
    .slick-track{
        display: flex!important;
        
    }
    
}

.services_thumble{
    height: inherit!important;
    min-height: 1px;
    display: flex!important;
    justify-content: center!important;  
    .servicves_inner{
        padding: 20px 20px;
        text-align: center;
        margin: 43px 10px;
        background-color: #fff;
        transition: all 0.4s;
        &:hover{
            box-shadow: 0px 2px 29px 7px rgba(255,255,255,0.75);
            -webkit-box-shadow: 0px 2px 29px 7px rgba(255,255,255,0.75);
            -moz-box-shadow: 0px 2px 29px 7px rgba(255,255,255,0.75);
            transition: all 0.4s;
            .sevicimg_bg{
                i{
                    background-color: $btn-border1;
                    width: 100px;
                    height: 100px;                  
                    border-radius: 5px;
                    transition: all 0.4s;
                }
            }
        }
        
        @include breakpoint-up(992px){
            padding: 25px;
            margin: 43px 40px;
        }
        .sevicimg_bg{
            i{
                width: 100px;
                height: 100px;
                line-height: 100px;
                border-radius: 50%;
                background-color: #278ccf;
                font-size: 35px;
                color: #fff;
            } 
        }        
      
         h3{
            font-size: 30px;
            color: #585656;
            // &:hover{
            //     // color: $primary-color;
            // }
            
        }
    }
}
.slick-dots {
    padding-left: unset;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.slick-dots li {
    background: $main-color;
    list-style: none;
    height: 10px;
    width: 10px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-top: 17px;
    cursor: pointer;
    button{
        display: none;
    }
}
.slick-dots li.slick-active {
    border: 2px solid #fff;
    background-color: #2FFFAD;
}
// ===========================--SERVICES SECTION END--=====================
.my_skills{
    background-color: #000;
    .skills{
        &:after{
            content: '';
            display: block;
            width: 131px;
            height: 2px;
            background: #fff;
            position: relative;
            top: -2px;
            left: 50%;
            transform: translate(-50%);
            margin: 7px 0;
            @include breakpoint-up(958px){
                width: 199px;
                top: -1px;
            }
            @include breakpoint-up(975px){
                top: -1px;
            }
            @include breakpoint-up(992px){
                top: -18px;
                
            }
        }
        h4{
            z-index: 999;     
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 26px;
                height: 3px;
                background: #fdce16;
                position: relative;
                top: 48px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;     
                @include breakpoint-up(992px){
                    top: 79px;
                }
            }
            &:after{
                content: '';
                display: block;
                width: 70px;
                height: 3px;
                background-color: $main-color;
                position: relative;
                top: 9px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 99;
                @include breakpoint-up(992px){
                    top: 10px;
                }
            }
            color: #fff;
            margin-bottom: 5px;
            margin-top: 39px;
            @include breakpoint-up(992px){
                margin-bottom: 24px;
                font-size: 42px;
            }
    
         span{
             color: red;
             font-size: 30px;
             @include breakpoint-up(992px){
                font-size: 55px;
            }
         }
           
    
        }
    }
}


.skill_Sec{
    padding-top: 25px;
    padding-bottom: 30px
}

.services_hd {
    .skillsinner{
        h4{
           @include breakpoint-up(1200px){
            margin-top: 40px;
           }
        }
    }
}
.mh-skills {
    .mh-professional-skill{
        @include breakpoint-up(992px){
            padding-right: 60px;
            color: #fff;
    
        }

            h3{
                font-size: 30px;
                line-height: 40px;
                text-align: center; 
                margin-bottom: 34px;
                color: #fff;
    
            }

        
    }

}

.single-progressbar .title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #fff;
}

.single-progressbar {
    margin-bottom: 30px;
}
.percentCount{
    color: #fff;
}


// --==============--LINE PROGREESS END--===============--

.mh-professional-skills{
    color: #fff;

        h3{
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 60px;
            color: #fff;
            margin-top: 41px;
            margin-bottom: 37px;
    
        }

}

.mh-professional-progress{
    li{ 
        display: inline-block;
        margin: 0 auto;
        float: none;
        width: 48%;
        margin-bottom: 30px;
        text-align: center;


    }
}
.mh-progress{
    margin-bottom: 10px;
    font: 900 1.14285/1;
    color: #fff;

}

.mh-progress .progressbar-text{
    color: inherit!important;

}

.progress.progress-line{ 
    height: 10px;
    margin-right: 60px;

    .progressbar-text{
        position: absolute;
        top: 50%;
        left: 100%;
        width: 60px;
        transform: translateY(-35%);
        text-align: center;
    }

} 

.mh-progress.mh-progress-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.mh-progress path:nth-child(1){
    stroke: rgba(0,0,0,0.7);
}
.mh-progress path:nth-child(2){
    stroke: #0bceaf !important;
}

//--======================-- MY SKILLS END--=================
.gallery{
    background-color: #828282;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    // position: relative;
    // &::before{
    //     position: absolute;
    //     display: block;
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0,0,0,0.49);
    // }     
    .gallery_sec{
        &:after{
            content: '';
            display: block;
            width: 131px;
            height: 2px;
            background: #fff;
            position: relative;
            top: -2px;
            left: 50%;
            transform: translate(-50%);
            margin: 7px 0;
            @include breakpoint-up(958px){
                width: 199px;
                top: -1px;
            }
            @include breakpoint-up(975px){
                top: -1px;
            }
            @include breakpoint-up(992px){
                top: -18px;
                
            }
        }
        h4{
            z-index: 999;     
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 26px;
                height: 3px;
                background: #fdce16;
                position: relative;
                top: 48px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;     
                @include breakpoint-up(992px){
                    top: 79px;
                }
            }
            &:after{
                content: '';
                display: block;
                width: 70px;
                height: 3px;
                background-color: $main-color;
                position: relative;
                top: 9px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 99;
                @include breakpoint-up(992px){
                    top: 10px;
                }
            }
            color: #fff;
            margin-bottom: 5px;
            margin-top: 39px;
            @include breakpoint-up(992px){
                margin-bottom: 24px;
                font-size: 42px;
            }
    
         span{
             color: red;
             font-size: 30px;
             @include breakpoint-up(992px){
                font-size: 55px;
            }
         }
           
    
        }
    }
}



.galleryslid_inner{
    position: relative;
    margin-top: 24px;

    .gellrymargin{
        position: relative;
        background-color: #000;
        width: 280px;
        height: 280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 4px 3px #514f4f;
        margin-bottom: 20px;        
        &:hover{
            transition: all 0.6s ease;
            .galleryclick{
                transform: scale(1);
                border: 1px solid #fff;
                width: 100%;
                height: 100%;
                transition: all 0.6s ease;
                -webkit-transition: all 0.6s ease;
                -o-transition: all 0.6s ease;
                -moz-transition: all 0.6s ease;
            }
    
        }

        .galleryimg{        
            width: 280px;
            height: 280px;
            background-color: $main-color;  
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .galleryclick{
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: .5s;
            transition: .5s;
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.49);
                left: 0;
                top: 0;
                opacity: .85;
            }
            .clickherebtn{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                a{
                    @include primaryBtn;
        
                }
    
            }            
        
        }
    }   
}

.slick-dots{
    padding-left: unset;
    display: flex;
    justify-content: center;
    li{
        background: $secondary-color;
        list-style: none;
        height: 10px;
        width: 10px;
        border: 2px solid transparent;
        border-radius: 50%;
        margin-top: 17px;
        cursor: pointer;

        button{
            display: none;
        }
        &.slick-active{
            border: 2px solid #fff;
        }
    }
} 

// =========================-=-GALERRY SECTION END--=============
.contract{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &::before{
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.49);
    }     
    .contract_sec{
        &:after{
            content: '';
            display: block;
            width: 131px;
            height: 2px;
            background: #fff;
            position: relative;
            top: -2px;
            left: 50%;
            transform: translate(-50%);
            margin: 7px 0;
            @include breakpoint-up(958px){
                width: 199px;
                top: -1px;
            }
            @include breakpoint-up(975px){
                top: -1px;
            }
            @include breakpoint-up(992px){
                top: -18px;
                
            }
        }
        h4{
            z-index: 999;     
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 26px;
                height: 3px;
                background: #fdce16;
                position: relative;
                top: 48px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;     
                @include breakpoint-up(992px){
                    top: 79px;
                }
            }
            &:after{
                content: '';
                display: block;
                width: 70px;
                height: 3px;
                background-color: $main-color;
                position: relative;
                top: 9px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 99;
                @include breakpoint-up(992px){
                    top: 10px;
                }
            }
            color: #fff;
            margin-bottom: 5px;
            margin-top: 39px;
            @include breakpoint-up(992px){
                margin-bottom: 24px;
                font-size: 42px;
            }
    
         span{
             color: red;
             font-size: 30px;
             @include breakpoint-up(992px){
                font-size: 55px;
            }
         }
           
    
        }
    }
}
.contact_input{
    h4{
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }
    @include breakpoint-up(1200px){
        padding-left: 60px;
    }
    .field{
        @include breakpoint-up(768px){
            margin-bottom: 8px;
        }
        input[type="text"] {
            border: unset;
            border: 2px solid $primary-color;
            border-radius: 7px;
            background: #262525;
            color: #fff;
            &:hover{
                border: 2px solid #4163b1;
            }
            @include breakpoint-up(768px){
                font-size: 17px;
                padding: 18px 5px;
            }
        }
        textarea{
            min-height: 100px;
            max-height: 100px;
            border: 2px solid $primary-color;
            border-radius: 7px;
            background: #262525;
            color: #fff;        
            &:hover{
                border: 2px solid #4163b1;
            }
        }
        
    }
    .sendbutton{
        margin: 20px 0px;
        button{
            padding: 12px 16px;        
        }
    }
    
}
.sendbutton{          
    button{
        @include primaryBtn();
        text-decoration: none;
        display: inline-block;
        margin-top: 23px;
        color: #fff;
        padding: 7px 13px;
        font-size: 13px;
        border: unset;
        &:hover{
            color: #fff;
            transition: 0.5s all;
            
        }
        @include breakpoint-up(992px){
            padding: 8px 18px;
            font-size: 16px;
        }
        &:before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: inherit;
            border-radius: inherit;
            transition: opacity .3s, transform .3s;
            animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
            z-index: -1;
        }

    }
}



.contact_content{
    h4{
        font-size: 30px;
        color: #fff;
        font-weight: 700;

    }
    p{
        color: #fff;
        font-size: 17px;
    }
}
.icons{
    margin-top: 10px;

    .icon_inner{
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        i{
            color: #fff;
            font-size: 35px;
        }
        .info{
            padding-left: 16px;
            h3{
                color: #fff;
                margin: unset;
                font-size: 25px;
                margin-bottom: 6px;
                font-weight: 700;
                @include breakpoint-up(1200px){
                    font-size: 30px;
                }
            }
            h4{
                margin: unset;
                font-size: 18px;
                color: #ddd;
                @include breakpoint-up(1200px){
                    font-size: 16px;
                }
            }
        }


    }
}

// ==================--CONTRACT END--===================



.footer_End{
    background-color: #000;
    padding: 20px;
    color: #fff;

    .footer_inner{
        p{
            margin: unset;
            a{
                text-decoration: none;
                cursor: pointer;
                font-family: sans-serif;
                font-weight: 600;
                
            }
        }
    }
}














